[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dominate = "*"
weasyprint = "*"
grequests = "*"
pillow = "==9.3.0"
fake-useragent = "*"
typer = "*"
rich = "*"
validators = "*"
readability-lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
